.Bio{
    display: flex;
}

.bioImage{
    img{
        width: 16em;
        height: 16em;
        border-radius: 50%;
        margin-right: 3em;
    }
}

.bioContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bioContentName{
    color: #306989;
    margin: 0;
    font-weight: 900;
    font-size: 48px;
    line-height: 60px;
}

.bioContentTagline{
    margin-top: .2em ;
    margin-bottom: .4em;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
}

.bioContentRole{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    margin: 0%;
}