$primary-color: #1DA1F2;
$secondary-color: #14171A;
$tertiary-color: #657786;
$quaternary-color: #AAB8C2;
$quinary-color: #E1E8ED;
$senary-color: #F5F8FA;

.container {
 // background-color: $primary-color;
 // color: $quinary-color;
  min-height: 100vh;
  padding: 0 0.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  padding: 4rem 0;
  max-width: 800px;
}


.title {
  //color: $quinary-color;
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
}

.posts{
  list-style: none;
  padding: 0;
  margin: 5em 0;

  & > li{
    margin-bottom: 3em;
    
    &:last-child{
      margin-bottom: 0;
    }
  }

  p{
    &:first-child{
      margin-top: 0;
    }

    &:last-child{
      margin-bottom: 0;
    }

  }
   
  }

  