.postContent{
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    margin-bottom: .3em;
    }

    .postTime{
      font-weight: 600;
      font-size: 32px;
      line-height: 40px;
      margin-top: .4em;
    }